<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div id="footer-info" class="inner">
    <% if (theme.copyright){ %>
      <%- render(theme.copyright, 'pug'); %>
    <% } %>
    &copy; <%= date(new Date(), 'YYYY') %> <%= theme.author || config.author || config.title %><br>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox/fancybox.umd.js"></script>

<script>
    Fancybox.bind("[data-fancybox]", {});
</script>
