@font-face
  font-family "HarmonyOS Sans"
  src url("/fonts/harmonyos_sans/HarmonyOS_Sans_Regular.woff2")
  font-weight 400
  font-style normal
  font-display swap

@font-face
  font-family "HarmonyOS Sans"
  src url("/fonts/harmonyos_sans/HarmonyOS_Sans_Medium.woff2")
  font-weight 500
  font-style normal
  font-display swap

@font-face
  font-family "HarmonyOS Sans"
  src url("/fonts/harmonyos_sans/HarmonyOS_Sans_Semibold.woff2")
  font-weight 600
  font-style normal
  font-display swap

@font-face
  font-family "HarmonyOS Sans"
  src url("/fonts/harmonyos_sans/HarmonyOS_Sans_Bold.woff2")
  font-weight 700
  font-style normal
  font-display swap

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/fonts/harmonyos_sans_sc/HarmonyOS_SansSC_Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/fonts/harmonyos_sans_sc/HarmonyOS_SansSC_Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/fonts/harmonyos_sans_sc/HarmonyOS_SansSC_Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('/fonts/harmonyos_sans_sc/HarmonyOS_SansSC_Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos_sans_tc/HarmonyOS_SansTC_Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos_sans_tc/HarmonyOS_SansTC_Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos_sans_tc/HarmonyOS_SansTC_Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'HarmonyOS Sans TC';
  src: url('/fonts/harmonyos_sans_tc/HarmonyOS_SansTC_Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Linden Hill';
  src: url('/fonts/LindenHill/LindenHill-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Linden Hill';
  src: url('/fonts/LindenHill/LindenHill-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('/fonts/noto_serif_jp/NotoSerifJP-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif TC';
    src: url('/fonts/noto_serif_tc/NotoSerifTC-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face
  font-family "Noto Serif SC"
  src url("/fonts/noto_serif_sc/NotoSerifSC-VariableFont_wght.ttf") format("truetype")
  font-weight 100 900
  font-style normal
  font-display swap
